%html
  %head
    %title Paris Playground Map
    %meta{ name: 'viewport', content: 'width=device-width, initial-scale=1.0, maximum-scale=1.0'}
    %link{ rel: 'stylesheet', href: 'js/leaflet.css' }
    %link{ rel: 'stylesheet', href: 'css/style.css' }
    %script{ type: 'text/javascript', src: 'js/jquery-2.1.0.min.js' }
    %script{ type: 'text/javascript', src: 'js/leaflet.js' }
    %style 
  %body{style: 'padding: 0; margin :0; height: 100%' }
    %h1 Paris Playground
    %h3 Age de l'enfant :
    %div{ id: 'ageSelector', style: 'height: 50px;' }
    %div{ id: 'mapContainer', style: 'height: 60%;' }
    %div{ id: 'playgroundContainer', style: 'height: 40%; overflow:auto;' }
      :javascript
        var map;
        var cadastralLayer;
        var polyindex;
        var selectedage=0;
        var startPosition;
        $(document).ready(function () {
          for (var i=1;i<10;i++) {
            image1 = new Image(35,35);
            image1.src = "/img/Number_" + i + "_Icon_clicked.png";
            image1.id="ageSelector_image_" + i
            var aTag = document.createElement('a');
            aTag.setAttribute('href',"#");
            aTag.setAttribute('id',"ageSelector_" + i);
            //aTag.onclick = function (e) { map._layers[l].openPopup() };
            aTag.setAttribute('selected',"false");
            aTag.appendChild(image1);
            //aTag.onclick = function (e) { ClickOne(i) };
            aTag.onclick = (function() {
              var currentI = i;
              return function() { 
              ClickOne(currentI);
              }
            })();
            document.getElementById('ageSelector').appendChild(aTag);
          } 
          
          if (navigator.geolocation)
            navigator.geolocation.getCurrentPosition(successCallback, errorCallback);
          else
          {
            map = new L.Map('mapContainer');
            var url = 'http://{s}.tiles.mapbox.com/v3/bpujos.ifcdbo54/{z}/{x}/{y}.png';
            var copyright = 'Map data &copy; 2011 OpenStreetMap contributors';
            var tileLayer = new L.TileLayer(url, {maxZoom: 18, attribution: copyright, detectRetina: true});
            map.setMaxBounds([[48.715398,2.125418],[48.992516,2.52609]]);
            var startPosition = new L.LatLng(48.877385,2.400151);
            
            map.on('load', function(e) {
              requestUpdatedStores(e.target.getCenter(),e.target.getBounds());
            });
            map.setView(startPosition, 17).addLayer(tileLayer);
            map.on('moveend', function(e) {
              requestUpdatedStores(e.target.getCenter(),e.target.getBounds());
            });
          };
        });
        
        function successCallback(position){
          startPosition = new L.latLng(parseFloat(position.coords.latitude),parseFloat(position.coords.longitude));
          
          
          map = new L.Map('mapContainer');
          var url = 'http://{s}.tiles.mapbox.com/v3/bpujos.ifcdbo54/{z}/{x}/{y}.png';
          var copyright = 'Map data &copy; 2011 OpenStreetMap contributors';
          var tileLayer = new L.TileLayer(url, {maxZoom: 18, attribution: copyright, detectRetina: true});
          
          map.setMaxBounds([[48.815398,2.225418],[48.902516,2.42609]]);
          map.on('load', function(e) {
            requestUpdatedStores(startPosition,e.target.getBounds(),selectedage);
          });
          //alert(startPosition.lat);
          map.setView(startPosition, 16).addLayer(tileLayer);
          var radius = parseFloat(position.coords.accuracy) / 2;
          L.marker(startPosition).addTo(map)
            .bindPopup("Vous êtes à moins de " + Math.round(radius) + " métres de ce point").openPopup();
          L.circle(startPosition, radius).addTo(map);
          map.on('moveend', function(e) {
            requestUpdatedStores(startPosition,e.target.getBounds(),selectedage);
          });
        };
        
        function errorCallback(error){
          map = new L.Map('mapContainer');
          var url = 'http://{s}.tiles.mapbox.com/v3/bpujos.ifcdbo54/{z}/{x}/{y}.png';
          var copyright = 'Map data &copy; 2011 OpenStreetMap contributors';
          var tileLayer = new L.TileLayer(url, {maxZoom: 18, attribution: copyright, detectRetina: true});
          var startPosition = new L.LatLng(48.877385,2.400151);
          map.setMaxBounds([[48.815398,2.225418],[48.902516,2.42609]]);
          map.on('load', function(e) {
            requestUpdatedStores(startPosition,e.target.getBounds(),selectedage);
          });
          //alert(startPosition.lat);
          map.setView(startPosition, 17).addLayer(tileLayer);
          map.on('moveend', function(e) {
            requestUpdatedStores(startPosition,e.target.getBounds(),selectedage);
          });
        };
        
        
        
        function requestUpdatedStores(start,bounds,age) {
          $.ajax(
            {
              type: 'GET',
              url: '/playgrounds?free=1&age=' + age + '&swlat=' + bounds._southWest.lat + '&swlng=' + bounds._southWest.lng + '&nelat=' + bounds._northEast.lat + '&nelng=' + bounds._northEast.lng ,
              dataType: 'json',
              contentType: 'application/json; charset=utf-8',
              success: function (result) {
                parseResponseStores(result)
              },
              error: function (req, status, error) {
                alert('Unable to get store data');
              }
            });
        };
        
        function parseResponseStores(data) {
          if (cadastralLayer != undefined)
          {
            // for (var i in map._layers) {
            //   map.removeLayer(i);
            // } 
            map.removeLayer(cadastralLayer);
            cadastralLayer.clearLayers();
          }
          
          
          
          var myStyle = {color:  '#003300', weight: 2, fill: true, fillColor: '#996699', fillOpacity: 0.5 };
          var element = document.getElementById("playgroundContainer");
          while (element.firstChild) {
            element.removeChild(element.firstChild);
          }
          polyindex=1;
          cadastralLayer = new L.GeoJSON(data,
          {
            style: myStyle,
            onEachFeature: onEachFeature
          });
          map.addLayer(cadastralLayer);
          
          for (var l in cadastralLayer._layers)
          { 
            var c, r, t, k;
            t = document.createElement('table');
            r = t.insertRow(0); 
            c = r.insertCell(0);
            c.innerHTML = cadastralLayer._layers[l].firstline;
            c = r.insertCell(1);
            c.innerHTML = cadastralLayer._layers[l].secondline;
            document.getElementById("playgroundContainer").appendChild(t);
            var aTag = document.createElement('div');
            var localindex=l;
            aTag.setAttribute('myname',cadastralLayer._layers[l].myname);
            aTag.innerHTML="Voir sur la carte";
            //aTag.onclick = function (e) { map._layers[localindex].openPopup() };
            aTag.onclick = (function() {
              var currentI = l;
              return function() { 
              OpenMapPopup(currentI);
              }
            })();
            document.getElementById('playgroundContainer').appendChild(aTag);
          }
          
          
        };
        
        function onEachFeature(feature, layer) {
          var popupstrmain,popupstrdetail,popupstr,popupsmall;
          if (feature.properties.DENOM && feature.properties.NOM) 
          {
            popupsmall =    "<b>" + feature.properties.DENOM + " " + feature.properties.NOM + "</b>";   
            if (feature.properties.GLOBALMAX<18 && feature.properties.GLOBALMIN>0)
            {
              popupstrmain="Jeux pour les enfants de " + feature.properties.GLOBALMIN + " ans à " + feature.properties.GLOBALMAX + " ans <br /></b>";
            }
            else
            {
              if (feature.properties.GLOBALMAX==18 && feature.properties.GLOBALMIN>0)
              {
                popupstrmain= "Jeux pour les enfants dès " + feature.properties.GLOBALMIN + " ans<br /></b>";
              }
              else
              {
                if (feature.properties.GLOBALMAX<18 && feature.properties.GLOBALMIN==0)
                {
                  popupstrmain= "Jeux pour les enfants jusqu'à " + feature.properties.GLOBALMAX + " ans<br /></b>";
                }
                else
                {
                  popupstrmain= "Jeux pour tout âge<br/></b>";
                }
              }
            }
            popupstrdetail="";
            for (var i in feature.properties.GAMES) {
              popupstrdetail =  popupstrdetail + feature.properties.GAMES[i].GAME + "<br/>";
            }
            popupstr = popupsmall + "<br /><b>" + popupstrmain + popupstrdetail;
          }  
          layer.myname=feature.properties.NOM;
          layer.firstline="<b>" + feature.properties.DENOM + " " + feature.properties.NOM + "<br/>";
          layer.secondline=popupstrmain
          layer.bindPopup(popupstr);
        };
        
        function ClickOne(id){
          for (var i=1;i<10;i++) 
          {
            if (i==id)
            {
              if (document.getElementById("ageSelector_" + i).getAttribute('selected')=="false")
              {
                //alert('activation de ' +i);
                document.getElementById("ageSelector_image_" + i).src="/img/Number_" + i + "_Icon_48.png";  
                document.getElementById("ageSelector_" + i).setAttribute('selected','true');
              }
              else
              {
                //alert('desactivation de ' +i);
                document.getElementById("ageSelector_image_" + i).src="/img/Number_" + i + "_Icon_clicked.png";  
                document.getElementById("ageSelector_" + i).setAttribute('selected','false');
              }
            }
            else
            {
              if (document.getElementById("ageSelector_" + i).getAttribute('selected')=="true")
              {
                //alert('desactivation de ' +i);
                document.getElementById("ageSelector_image_" + i).src="/img/Number_" + i + "_Icon_clicked.png";  
                document.getElementById("ageSelector_" + i).setAttribute('selected','false');
              }
            }
          }
          selectedage=0;
          for (var j=1;j<10;j++) 
          {
            if (document.getElementById("ageSelector_" + j).getAttribute('selected')=="true")
            {
              selectedage=j;
            }
          }
          if (navigator.geolocation)
          {
            requestUpdatedStores(startPosition,map.getBounds(),selectedage);
          }
          else
          {
            requestUpdatedStores(map.getCenter(),map.getBounds(),selectedage);
          }
        };
        
        function OpenMapPopup(id){
          map._layers[id].openPopup();
        };